*:focus{
	outline: none;
}
.cfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .cfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */
a{
	text-decoration: none;
}
h1, h2, h3, p, a{
	display: block;
}
h1, .logo h1 a{
	color: #fff;
}
h2{
	font-size: 42px;
	color: #3a4248;
	line-height: 50px;
}
body {
	background: #2e2e2e;
	font-family: Helvetica, sans-serif;
	font-size:14px;
	line-height:24px;
	color: #8c8c8c;
}
ul, ol{
	list-style: none;
}
.tc{
	text-align: center;
}
.col-left{
	float: left;
}
.col-right{
	float: right;
}
.listBg{
background-color: #fff;
margin: 7px 0;
padding: 10px;
display: flex;
flex-direction: row;
}
.listBg a{
display: flex;
flex-direction: row;
}
.snippet-container{
margin: 0 10px;
}
.formWrapper{
width: 1100px;
margin: 0 auto;
}
.listBg img{
flex-shrink: 0;
}
